@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 200;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs4-ShhKMjjbU9uXuA79rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 200;
  font-stretch: expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs-OShhKMjjbU9uXuA79rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs4-ShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  font-stretch: expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs-OShhKMjjbU9uXuA7wTCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs4-ShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs-OShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs4-ShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: expanded;
  font-display: swap;
  src: url(/fonts/memWYa2wxmKQyPMrZX79wwYZQMhs-OShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXenSsMW.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/U9MD6c-2-nnJkHxyCjRcnMHcWVWV1cWRRU8L.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXf_S8MW.ttf) format('truetype');
}
